body {
  background: url('http://images.summitpost.org/original/869428.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.btn:focus,.btn:active {
   outline: none !important;
}

input:focus,input:active {
   outline: none !important;
}


.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}


aside {
  background-color: #313131;
  color: white;
  position: absolute;
  right: 0;
  border-radius: 0px 0px 0px 8px;
  top: 32px;
  min-width: 140px;
  z-index: 10;

}

aside h5 {
  text-align: center;
}


@media (max-width: 500px){
  aside {
    width: 100%;
    margin: 0;
    top: 64px;
    border-radius: 0px 0px 8px 8px;
    background-color: #414141;
  }
  .controller-post {
    width: 100%;
  }


}
